* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: grey;
}

#canvas {
  border: 1px solid black;
}

.section {
  max-width: 800px;
  margin: 5rem auto;
}

.canvas-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
